* {
    box-sizing: border-box;
  }
  
  html,
  body {
    padding: 0;
    margin: 0;
    font-family: "Urbanist", sans-serif;
    background-color: theme("colors.senior");
    color: white;
  }
  a {
    text-decoration: none;
    letter-spacing: -1px;
    font-size: 16px;
    border-radius: 8px;
  }
  
  .shaow{
    text-shadow: 0px 4px 4px #0000007d;
  }
  .ban{
    background-image: url("../../images/bannerDesign.svg")
  }
  .serv{
    background-image: url("../../images/services.svg")
  }
  /* swiper in HotelCard component */
.swiper-pagination {
  position: relative !important;
  margin-top: 20px;
}
.swiper-pagination-bullet-active{
  background-color: theme("colors.purple") !important;
  
}
.swiper-pagination-bullet{
  width: 30px !important;
  height: 30px !important;
  padding-top: 3px;
  opacity: 1 !important;
}
.h-inital{
  height: initial !important;
}

.cta{
   background-image: url("../../images/abstract designs/left.png"), url("../../images/abstract designs/right.png");
    background-position:left,right;
    background-repeat: no-repeat;
   

}
.gradient-box {
  background: linear-gradient(#1A1A1A, #1A1A1A) padding-box, linear-gradient(to right,#A685FA, hsla(280, 61%, 50%, 0.585)) border-box;
  border-radius: 50em;
  /* border-top: 0px; */
  /* border-bottom: 0px; */
  border-width: 0px 2px 0px 2px;
  border-style: solid;
  border-color: transparent;
}

  @keyframes show {
    from {
      transform: translateX(400px);
    }
    to {
      transform: translateX(0);
    }
  }
  @media (prefers-reduced-motion: no-preference) {
    .display {
      animation: show 0.4s ease-in-out 0s alternate;
    }
  }